<div class="card card-body mb-2">
    <h1 class="d-sm-block d-none">Profile</h1>
    
    <form id="edit-profile-form">
        <template id="edit-profile-template">
            <div class="form-row">
                <div class="form-group col-md">
                    <label for="accountName">Account Name</label>
                    <input disabled="true" type="text" class="form-control" id="accountName" value="Leo Leopold"
                        required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md">
                    <label for="displayName">Display Name</label>
                    <input type="text" class="form-control" id="displayName" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md">
                    <label for="displayName">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" required
                        pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" pattern=".{8,}">
                </div>
            </div>

            <button class="form-control btn btn-primary" type="submit">Update Profile</button>
        </template>
    </form>

    <br>
    <hr>
    <br>

    <h1 class="d-sm-block d-none">Cars</h1>
    <div id="car-wrapper">

        <template id="car-template">
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control numberPlate" placeholder="Number Plate" required>
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control color" placeholder="Color" required>
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control model" placeholder="Model" required>
                </div>
                <div class="form-group col">
                    <input type="number" min="0" class="form-control capacity" placeholder="Capacity" required>
                </div>
                <div class="form-group col">
                    <button class="form-control btn"></button>
                </div>
            </div>
        </template>

    </div>
</div>