body {
    background-color: #f5f5f5;
}
ul.navbar-nav > li > a {
    cursor: pointer;
}
.list-group-item-action {
    cursor: pointer;
}

input:invalid {
    border: 1px solid red !important;
}

/*
input:focus:required:invalid {
    border: 1px solid red !important;
}

input:required:valid {
    border: 1px solid transparent !important;
}
*/
