<div class="card mb-5">
		<div class="card-header">Upcoming rides</div>
		<div class="card-body">
			
			<template id="ride-template">
				<div class="card card-body mb-2">
					<dl class="ride-info">
						<dt>Arrival time</dt>
						<dd></dd>

						<dt>Route</dt>
						<dd></dd>

						<dt>Car</dt>
						<dd></dd>

						<dt>Locked</dt>
						<dd></dd>

						<dt>Full</dt>
						<dd></dd>
					</dl>

					<div class="card collapse mb-2" id="passengers">
						<div class="card-header">Passengers</div>
						<div class="card-body">

							<template id="passenger-template">
								<div class="card card-body mb-2">
									<dl class="passenger-info">
										<dt>Name</dt>
										<dd></dd>

										<dt>Phone Number</dt>
										<dd></dd>

										<dt>Pickup time</dt>
										<dd></dd>

										<dt>Pickup address</dt>
										<dd></dd>

										<dt>Dropoff time</dt>
										<dd></dd>

										<dt>Dropoff address</dt>
										<dd></dd>
									</dl>
								</div>
							</template>

						</div>
					</div>

					<div>
						<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#passengers" aria-expanded="false">Additional Information</button>
						<button type="button" class="btn btn-danger">Cancel Ride</button>
					</div>
				</div>
			</template>

		</div>
	</div>
</div>

<div class="card mb-5">
	<div class="card-header">Past rides (last 7 days)</div>
	<div class="card-body">

		<template id="past-ride-template">
			<div class="card card-body mb-2">
				<dl class="ride-info">
					<dt>Arrival time</dt>
					<dd>12:23 27 juli 2019</dd>

					<dt>Destination</dt>
					<dd>Stockholm</dd>

					<dt>Car</dt>
					<dd>ABC123 | Röd Volvo v70</dd>

					<dt>Locked</dt>
					<dd></dd>

					<dt>Full</dt>
					<dd></dd>
				</dl>
			</div>
		</template>

	</div>
</div>
