<div class="card">
	<div class="card-body">
		<h1 class="d-sm-block d-none">Create Ride</h1>
		<div>
			<form id = "create-ride-form">
				<div class="form-row">
					<div class="form-group col">
						<label for="car">Car</label>
						<select id="car" class="form-control">
							<template id="car-template">
								<option ></option>
							</template>
						</select>
					</div>
					<div class="form-group col">
						<label for="passengers">Passengers</label>
						<select id="passengers" class="form-control">
							<template id="passengers-template">
								<option ></option>
							</template>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col">
						<label for="startCity">Start City</label>
						<select id="startCity" class="form-control">
							<template id="start-city-template">
								<option></option>
							</template>
						</select>
					</div>
					<div class="form-group col">
						<label for="startAddress">Start Address</label>
						<input type="text" class="form-control" id="startAddress" placeholder="Enter address..." required>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col">
						<label for="dropOffCity">Dropoff City</label>
						<select id="dropOffCity" class="form-control">
							<template id="end-city-template">
								<option></option>
							</template>
						</select>
					</div>
					<div class="form-group col">
						<label for="dropOffAddress">Dropoff Address</label>
						<input type="text" class="form-control" id="dropOffAddress" placeholder="Enter address..." required>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col">
						<label for="latestArrivalTime">Latest arrival time</label>
						<input type="datetime-local" class="form-control" id="latestArrivalTime" placeholder="Enter address..." required>
					</div>
				</div>

				<div class="form-row">
					<button class="form-control btn btn-primary" type="submit">Create Ride</button>
				</div>
			</form>
		</div>
	</div>
</div>
