<div class="card mb-2">
    <div class="card-body">
        <h1 class="d-sm-block d-none">Ride search</h1>
        <div>
            <form id="search-ride-form">
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="startCity">Start City</label>
                        <select id="startCity" class="form-control">
                            <template id="start-city-template">
                                <option></option>
                            </template>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="startAddress">Start Address</label>
                        <input type="text" class="form-control" id="startAddress" placeholder="Enter address..."
                            required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md">
                        <label for="dropOffCity">Dropoff City</label>
                        <select id="dropOffCity" class="form-control">
                            <template id="end-city-template">
                                <option></option>
                            </template>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="dropOffAddress">Dropoff Address</label>
                        <input type="text" class="form-control" id="dropOffAddress" placeholder="Enter address..."
                            required>
                    </div>
                </div>
                <div class ="form-row">
                    <div class="form-group col">
                        <label for="latestArrivalTime">Latest arrival time</label>
                        <input type="datetime-local" class="form-control" id="latestArrivalTime"
                            placeholder="Enter address..." required>
                    </div>
                </div>
                <button class="form-control btn btn-primary" type="submit">Find matching rides</button>
            </form>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <h1 class="d-sm-block d-none">Matching rides</h1>
        
        <div>
            <template id="matching-ride">
                <div class="card card-body mb-2">
                    <dl>
                        <dt>Arrival time</dt>
                        <dd></dd>
                        <!--
                        <dt>Pickup time</dt>
                        <dd></dd>
                        -->
                    </dl>
                    <button type="button" class="btn btn-primary">Join Ride</button>
                </div>
            </template>
        </div>

    </div>
</div>